
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<h2>Supervisor</h2>

<p><a class="btn btn-lg btn-success" role="button"@Html.ActionLink(" Listado de Medico de Safe","ListaMedicos","Supervisor")</a></p>

