
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
}

<h2>Tecnico</h2>
<div>
    <p><a class="btn btn-primary" role="button" @Html.ActionLink("CREAR EVALUACIÓN", "Formulario2")</a></p>
    
</div>


