        <!-- Jumbotron -->
<div class="jumbotron">
    <h1>Portal Safe</h1>
    <p class="lead"></p>
x
 </div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Evaluaciones a terreno</h2>
        <p><img src="http://ipcft.santotomas.cl/wp-content/uploads/sites/7/2016/02/ingenieria-prevencion-riesgos.jpg" width="300" height="200"></p>
        <p><a class="btn btn-primary" href="#" role="button">Ver Detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Visitas Medicas</h2>
        <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShi2qzGc54b0vJn4gjJ6cneT6gNiEVKljJpg8u34zvrkgZsaFPhA"></p>
        <p><a class="btn btn-primary" href="#" role="button">Ver Detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Capacitaciones</h2>
        <p><img src="https://www.legis.com.co/arquivos/sliderCategorias-capacitacion.jpg?v=636426497237330000"/></p>
        <p><a class="btn btn-primary" href="#" role="button">Ver Detalles &raquo;</a></p>
    </div>
</div>

<!-- Site footer -->
<div class="footer">
    <p>&copy; Safe 2018</p>
</div>